*{
    margin: 0;
    font-family:'Lucida Sans';
    
}

:root{
    --heightNavbar: 60px;
    --yellow: rgb(228, 252, 13);
    --black: rgb(15, 15, 15);
    --white: rgb(230, 230, 230);
    --widthBoxGrande: 80%;
}

body{
    background-image: url('../img/sfondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2{
    color: var(--black);
    text-align:center;
    background: var(--yellow);
    width: 100%;
    margin-top: 0;
}

#boxGrande{
    display: inline-block;
    position: relative;
    left: calc(50% - var(--widthBoxGrande)/2);
    width: var(--widthBoxGrande);
    box-shadow: 1px 1px 10px 1px;
    top: 10px;
    border: 2px solid var(--yellow);
    border-radius: 5px;
    background: rgb(100, 100, 100);
}

table{
    text-align: start;
    width: 90%;
    margin: 15px auto 5px auto;
    border-collapse: collapse;
    border-radius: 5px;
    background-color: var(--white);
}

th{
    background: var(--yellow);
    color: var(--black);
    padding: 10px 0 10px 0;
}

tr:hover{
    background-color: #c5c5c5;
}

td, th{
    border: 1px solid black;
    padding: 5px;
}

img{
    width: 12px;
    height: 12px;
}

a:link, a:visited{
    text-decoration: none;
}

a:hover, a:active{
    text-decoration: underline;
}


#logout{
    position: fixed;
    right: 8px;
    top:10px;
    width: 80px;
    font-size: 0.9;
}

#returnBtn{
    width: fit-content;
    margin-top: 10px;
    font-size: 0.9rem;
    cursor: pointer;
}

#boxReturnBtn{
    text-align: center;
    width: 25%;
    margin: 10px auto;
}

#deleteBtn{
    color: red;
    width:fit-content;
    height: 60%;
    font-weight: bold;
}

#updateBtn{
    color: red;
    width:fit-content;
    height: 60%;
    font-weight: bold;
}

.tdName{
    width: 22%;
}

.tdPrice{
    text-align: center;
    width: 13%;
}

.tdDetail{
    width: 60%;
}
.tdDelete{
    text-align: center;
    width: 5%;
}